:root{
    --color-primary: #000000;
    --color-segundo: #14213d;
    --color-tercero: #fca311;
    --color-cuarto: #e5e5e5;
    --color-quinto: #ffffff;
}


body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.container-header{
    padding: 0;
    background: var(--color-tercero) ;
    height: 70px;
}
.nav{
    display: flex;
    justify-content:flex-end;
    
}
.nav ul{
    display: flex;
    gap: 50px;
    padding: 0 20px;
}
.nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: var(--color-segundo);
    border-radius: 20px;
    width: 150px;
    height: 40px;
    transition: .3s;
}
.nav ul li a{
     text-decoration: none;
     color: #ffffff;
     transition: .3s;
     font-family: sans-serif;
}
.nav ul li a:hover{
color: var(--color-tercero);
}
.nav ul li:hover{
    transform: scale(1.2);

}
/*===section==*/

.container-section{
    text-align: center;
height: 100%;
}
.container{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.container-section h1{
color: var(--color-segundo);
font-family: sans-serif;
font-size: 56px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-cuarto);
    width: 450px;
    height: 250px;
    border-radius: 20px;
}

.img img{
    width: 250px;
    height: 250px;
}
.texto{
    margin-top: 20px;
    justify-content: center;
    width: 450px;
    color: var(--color-segundo);
}